@font-face {
    font-family: "Pretendard";
    src: url("/assets/font/pretendard/Pretendard-Thin.subset.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/assets/font/pretendard/Pretendard-ExtraLight.subset.woff2") format("woff2");
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/assets/font/pretendard/Pretendard-Light.subset.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/assets/font/pretendard/Pretendard-Regular.subset.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/assets/font/pretendard/Pretendard-Medium.subset.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/assets/font/pretendard/Pretendard-SemiBold.subset.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/assets/font/pretendard/Pretendard-Bold.subset.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/assets/font/pretendard/Pretendard-ExtraBold.subset.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("/assets/font/pretendard/Pretendard-Black.subset.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans KR";
    src: url("/assets/font/notosanskr/NotoSansKR-Thin.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans KR";
    src: url("/assets/font/notosanskr/NotoSansKR-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans KR";
    src: url("/assets/font/notosanskr/NotoSansKR-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans KR";
    src: url("/assets/font/notosanskr/NotoSansKR-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans KR";
    src: url("/assets/font/notosanskr/NotoSansKR-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans KR";
    src: url("/assets/font/notosanskr/NotoSansKR-Black.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    /*font-family: Pretendard;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*============================================================*/
.d_none{
    display: none !important;
}
.d_block{
    display: block !important;
}
.d_flex{
    display: flex !important;
    align-content: center !important;
}
.div_header {
    padding: 0px 16px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-color: #6c6c6c;
    height: 40px;
    display: flex;
    align-items: center;
}

.div_set {
    padding: 7px 5px;
    display: flex;
    border: solid 1px #c3c3c3;
    background-color: #e9ebec;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.div_calendar {
    display: inline-flex;
    align-items: center;
    height: 31px;
    width: 114px;
    text-align: center;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    margin: 0 8px;
    background-color: #f1f1f1;
}
.input_date_picker{
    width: 73px;
    border: 1px solid #d1d1d1;
    border-width: 0 1px 0 0;
    padding: 8px;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    background-color: #fff !important;
}
.input_date_picker:disabled{
    background: #e7e7e7;
    opacity: 0.5;
}
.img_date_picker_icon{
    margin: 4px !important;
}

.btn_grid {
    display: inline-flex;
    align-items: center !important;
    justify-content: center !important;
    padding: 2px 5px !important;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center !important;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}
.btn_grid:disabled{
    opacity: 0.5;
    cursor: no-drop;
}

.btn {
    display: inline-flex;
    align-items: center !important;
    justify-content: center !important;
    padding: 4px 12px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:disabled{
    opacity: 0.5;
    cursor: no-drop;
}
.btn_red {
    color: #fff !important;
    background-color: #dd514c !important;
}
.btn_orange {
    color: #fff !important;
    background-color: #e57b2f !important;
}
.btn_yellow {
    color: #fff !important;
    background-color: #f0ad4e !important;
}
.btn_green {
    color: #fff !important;
    background-color: #5eb95e !important;
}
.btn_blue {
    color: #fff !important;
    background-color: #1f8dd6 !important;
}
.btn_purple {
    color: #fff !important;
    background-color: #8058a5 !important;
}
.btn_gray {
    color: #fff !important;
    background-color: #939393 !important;
}
.btn_coral {
    color: #fff !important;
    background-color: #ff7c8b !important;
}
.btn_red_reverse {
    color: #dd514c !important;
    background-color: #fff !important;
    border-color: #b3423e !important;
}
.btn_orange_reverse {
    color: #f37b1d !important;
    background-color: #fff !important;
    border-color: #cb6719 !important;
}
.btn_yellow_reverse {
    color: #eea236 !important;
    background-color: #fff !important;
    border-color: #eea236 !important;
}
.btn_green_reverse {
    color: #5eb95e !important;
    background-color: #fff !important;
    border-color: #448944 !important;
}
.btn_blue_reverse {
    color: #1f8dd6 !important;
    background-color: #fff !important;
    border-color: #1b6a9f !important;
}
.btn_purple_reverse {
    color: #8058a5 !important;
    background-color: #fff !important;
    border-color: #61467a !important;
}
.btn_gray_reverse {
    color: #000000 !important;
    background-color: #fff !important;
    border-color: #b1b1b1 !important
}
.btn_coral_reverse {
    color: #ff798a !important;
    background-color: #fff !important;
    border-color: #ff7c8b !important;
}
.input_file {
    padding: 4px;
    min-width: 164px;
    width: 51%;
    display: inline-block;
    margin-right: 4px;
}
.input_style{
    height: 32px;
    width: 100%;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-sizing: border-box;
}
.input_style::placeholder{
    color: #d1d1d1;
}
.input_style:disabled{
    background: #e7e7e7;
    opacity: 0.5;
}
.input_style[type=file]{
    padding: 3.3px 8px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.textarea_style{
    resize: none;
    width: -webkit-fill-available;
    height: auto;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.textarea_style::placeholder{
    color: #d1d1d1;
}
.textarea_style:disabled{
    background: #e7e7e7;
    opacity: 0.5;
}
.div_input_box_row{
    display: flex;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    background: rgb(255, 255, 255);
    height: 30px;
    align-items: center;
    margin: 0 4px;
}
.div_input_title_row{
    border: 1px solid #d1d1d1;
    border-width: 0 1px 0 0;
    height: 30px;
    padding: 8px;
    background: #e3e3e3;
    border-radius: 3px 0 0 3px;
    text-align: center;
    box-sizing: border-box;
}
.div_input_title_row_reverse{
    border: 1px solid #d1d1d1;
    border-width: 0 0 0 1px;
    border-radius: 0 3px 3px 0;
    height: 30px;
    padding: 8px;
    background: #e3e3e3;
    min-width: 42px;
    text-align: center;
    box-sizing: border-box;
}
.div_input_box_col{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    background: #ffffff;
    min-width: 100px;
    margin: 0 4px;
}
.div_input_title_col{
    border: 1px solid #d1d1d1;
    border-width: 0 0 1px 0;
    height: 14px;
    padding: 8px;
    background: #e3e3e3;
    border-radius: 3px 3px 0 0;
    min-width: 74px;
    text-align: center;
}
.label_radio_box{
    margin: 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.div_input_box_col>.label_radio_box{
    margin: 8px 4px;
    cursor: pointer;
}
.label_radio_box>input[type=radio]{
    margin: 0 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.label_radio_box>input[type=radio]:checked{
    appearance: none;
    -webkit-appearance: none;
    border: 0.2rem solid #fff;
    background-color: #1f8dd6;
    box-shadow: 0 0 0 1px #1f8dd6;
    border-radius: 50%;
}
.label_radio_box>input[type=radio]:checked:disabled{
    appearance: none;
    -webkit-appearance: none;
    border: 0.2rem solid #fff;
    background-color: #a5a5a5;
    box-shadow: 0 0 0 1px #939393;
    border-radius: 50%;
}
.label_radio_box>input[type=checkbox]{
    margin: 0 4px;
    width: 16px;
    height: 16px;
    content: url("/assets/icons/icon_check_deactive.svg");
    cursor: pointer;
}
.label_radio_box>input[type=checkbox]:checked{
    border-radius: 0%;
    content: url("/assets/icons/icon_check_active.svg");
}
.label_radio_box>input[type=checkbox]:disabled{
    border-radius: 0%;
    content: url("/assets/icons/icon_check_disabled.svg");
    cursor: initial;
}
.h_modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    align-items: baseline;
    justify-content: center;
}
.h_modal_container{
    width: 300px;
    height: auto;
    min-height: auto;
    max-height: calc(100vh - 112px);
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    position: relative;
    margin: 1.75em;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.h_modal_close{
    cursor: pointer;
    position: absolute;
    right: 0px;
    margin-right: 24px;
    background: url("/assets/icons/icon_close.svg") center center / 1em no-repeat transparent;
    width: 1em;
    height: 1em;
    border: none;
}
.h_modal_title{
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 8px;
    position: relative;
    height: 40px;
    min-height: 40px;
    font-weight: bold;
    background-color: #f4f7ff;
}
.fade_out{
    animation: fade_out 0.3s;
}
.fade_in{
    animation: fade_in 0.3s;
}
.h_modal_content{
    border: 1px solid #d1d1d1;
    border-width: 1px 0;
    min-height: 58px;
    padding: 8px;
    overflow-y: auto;
}
.h_modal_footer{
    height: 49px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.h_tooltip{
    cursor: pointer;
}
.h_tooltip_wrapper{
    z-index: 999;
    position: relative;
}
.h_tooltip_wrapper>.h_tooltip_text{
    display: none;
}
.h_tooltip_text{
    top: -48px;
    left: -19px;
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
}
.h_tooltip:hover + .h_tooltip_wrapper>.h_tooltip_text{
    display: inline-block !important;
    position: absolute;
    width: max-content;
}
.h_popover{
    cursor: pointer;
}
.h_popover_wrapper{
    position: relative;
    z-index: 999;
}
.h_popover_wrapper>.h_popover_text{
    position: absolute;
    top: -48px;
    left: -19px;
    width: max-content;
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
}
.h_tab{
    display: flex;
    margin-bottom: 16px;
    position: relative;
}
.h_tab::before{
    content: "";
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    top: 40px;
}
.h_tab div{
    padding: 12px 16px;
    text-decoration: none;
    color: #1a1a1a;
    cursor: pointer;
}
.h_tab div.disabled{
    color: #D1D1D1;
    cursor: no-drop;
}
.h_tab div.active{
    border-bottom: 3px solid #1f8dd6;
    font-weight: bold;
    background-color: #ddf2ff !important;
}
.select_style{
    height: 32px;
    width: 100%;
    padding: 6px 24px 6px 10px;
    font-size: 13px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-sizing: border-box;
    appearance: none;
    background-image: url("/assets/icons/icon_select_down.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    background-size: 13px;
    outline: none;
    cursor: pointer;
    text-overflow: ellipsis;
}
.select_style:hover {
    border-color: #888;
}
.select_style:focus {
    border-color: #888;
}
.select_style:disabled {
    background: #e7e7e7;
    opacity: 0.5;
}
.select_component_div_style {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: relative;
}
.select_component_input_style {
    height: 100%;
    width: 100%;
    padding: 6px 24px 6px 10px;
    font-size: 13px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-sizing: border-box;
    appearance: none;
    background-image: url("/assets/icons/icon_select_down.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    background-size: 13px;
    outline: none;
    cursor: pointer;
    text-overflow: ellipsis;
}
.select_component_input_style:hover {
    border-color: #888;
}
.select_component_input_style:disabled {
    background-color: #e7e7e7 !important;
    opacity: 0.5;
}
.select_component_div_style > div {
    min-width: 100%;
    display: none;
    position: absolute;
    left:0;
    background-color: #fff;
    border: 1px solid #888;
    z-index: 1000;
    box-shadow: 0 2px 2px 2px rgb(0 0 0 / 8%);
}
.select_component_div_style > div > div {
    margin: 8px;
}
.select_component_div_style > div > div > input {
    border: 1px solid #2c89f5;
}
.select_component_div_style > div > div > input:focus {
    outline: 3px solid #d9ebff;
}
.select_component_div_style > div > datalist {
    display: block;
    text-align: left;
    max-height: 200px;
    overflow-y: scroll;
    color: #555;
}
.select_component_div_style > div > datalist > option {
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0px 8px;
}
.select_component_div_style > div > datalist > option:hover {
    background-color: #d9d9d9;
}
.select_component_click_style {
    background-color: #2c89f5;
    color: white;
}
/*생각보다 테이블의 정보 드래그를 많이 하심*/
.table {
    width: 100%;
    user-select: text;
}
.table_bordered {
    border: 1px solid #ddd;
}
.table_bordered tbody>tr>th, .table_bordered thead>tr>th{
    background: #F1F1F1;
}
.table_bordered tbody>tr>td, .table_bordered thead>tr>td{
    background: #ffffff;
}
.table_bordered tbody>tr>th, .table_bordered tbody>tr>td,
.table_bordered thead>tr>th, .table_bordered thead>tr>td{
    border: 1px solid #ddd;
}
.table tbody>tr>th, .table tbody>tr>td,
.table thead>tr>th, .table thead>tr>td{
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #474747;
    vertical-align: middle;
}
.table tbody>tr>th, .table thead>tr>th{
    font-weight: bold;
}

.text_center{
    text-align: center;
}

.text_right{
    text-align: right;
}

.text_left{
    text-align: left;
}

#div_loader {
    position: absolute;
    z-index: 99999;
    left: calc(50% - 66px);
    top: calc(50% - 66px);
}
#div_loader:before, #div_loader:after {
    content: "";
    position: absolute;
    top: -8vh;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 16px solid transparent;
    border-top-color: #3498db;
}

#div_loader:before {
    z-index: 100;
    animation: spin 1s infinite;
}

#div_loader:after {
    border: 16px solid #919191;
}
.div_loading_background {
    width: 100%;
    height: 100%;
    opacity: 50%;
    background-color: #c1c1c1;
    position: fixed;
    z-index: 10000;
}

.div_api_loading_background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.grid_loading:after, .grid_loading:before{
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 16px solid transparent;
    border-top-color: #3498db;
}
.grid_loading:before {
    z-index: 100;
    animation: spin 1s infinite;
}

.grid_loading:after {
    border: 16px solid #ccc;
}


@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tinymce-wrapper{
    height: calc(100vh - 368px);
    overflow: auto;
}

.tox-tinymce{
    border: 1px solid #d1d1d1;
    border-radius: 0px;
    min-height: 100%;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header{
    border-bottom: 1px solid #d1d1d1;
    box-shadow: none;
}

.tox .tox-statusbar{
    display: none;
}

.div_check_cls.ag-theme-balham {
    --ag-checkbox-checked-color: #ff8d00;
    --ag-checkbox-background-color: white;
    --ag-checkbox-unchecked-color: grey;
    --ag-checkbox-indeterminate-color: grey;
}
/** RX옵션할 때 가장자리 디자인적으로 빼야해서 설정 */
.div_lens_option_modal_ag_grid_cls .ag-theme-balham .ag-root-wrapper {
    border-right: none !important;
}
/** filter할때 <br>태그가 들어있거나 길이가 길면 <br>태그 없애고, 말줄임표를 보여주기 위해서 설정 */
.ag-set-filter-item .ag-set-filter-item-checkbox {
    width: 98%;
}
.ag-set-filter-item .ag-set-filter-item-checkbox .ag-input-field-label {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ag-set-filter-item .ag-set-filter-item-checkbox .ag-input-field-label br {
    display: none;
}
